/* General styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f7fa;
  color: #333;
  transition: background 0.3s ease, color 0.3s ease;
}

body[data-theme="dark"] {
  background: #121212;
  color: #fff;
}

/* Light and Dark Theme Specific Colors */
body[data-theme="dark"] .request-card {
  background: #1e1e1e;
}

body[data-theme="dark"] .request-header {
  color: #fff;
}

body[data-theme="dark"] .request-body pre {
  color: #fff;
  background: #000;
}

.header {
  text-align: center;
  padding: 20px 0;
  background: #0067ff;
  color: white;
}

.tabs {
  display: flex;
  justify-content: center;
  background: #0067ff;
  padding: 10px 0;
}

.tab {
  color: white;
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.tab:hover,
.tab.active {
  background: #0056d2;
}

.tab-content {
  display: none;
  padding: 20px;
}

.tab-content.active {
  display: block;
}

.requests-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.request-card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: background 0.3s ease, border-color 0.3s ease;
}

.request-header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  padding-bottom: 0;
}

.request-body {
  padding: 15px;
  font-size: 0.9em;
  padding-top: 0;
}

.theme-toggle-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

input,
textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background: #0067ff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #0056d2;
}

.method-get {
  border-left: 6px solid green;
}

.method-post {
  border-left: 6px solid yellow;
}

.method-put {
  border-left: 6px solid blue;
}

.method-patch {
  border-left: 6px solid purple;
}

.method-delete {
  border-left: 6px solid red;
}

.method-head {
  border-left: 6px solid green;
}

.method-options {
  border-left: 6px solid pink;
}
